@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{font-family: "Montserrat", sans-serif;}

header{
  margin: 44px 144px 76px;
}
 .link-header {
  font-weight: 600 ;
  font-size: 24px;
  line-height: 29px;
  color: #989d9c;
  cursor: pointer;
  margin-right: 23px;
 }

 .button-header{
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
 }

.logo-image{
  Width: 568px;
  Height: 500px;
  margin-left: 125px;
  display: inline-block;
}

section{
  display: inline-block;
  margin-left: 86px;
  margin-top: 20px;
}

h1{/* WE CARE */
  font-weight: 900;
  font-size: 100px;
  line-height: 1px;/* identical to box height */
  color: #515151;
  margin-top: -20px;
}

h2 {  /* About Your Pet */
  font-weight: 500;
  font-size: 58px;
  line-height: 10px;
  color: #515151;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #848484;
  width: 515px;
  margin-top: 32px;
  margin-bottom: 65px;
  text-align: justify;

}

.button-main{
  background: #adff00;
  border-radius: 30px;
  width: 200px; /*era: 239px*/
  height: 54px; /*era: 64px*/
  border: none;
  cursor: pointer;
  filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000000 ;
  margin-top: -100px;
}
  

/*DADOS ABAIXO PARA RESPONSIVIDADE*/



  @media (max-width: 900px) {

header{
  margin:15px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:1px;
  flex-wrap:nowrap;
}


/*
.link-header{
  font-size:10px;
}*/

.link-header{
  font-size:11px;
  margin-right:10px;
}

.button-header{
  font-size:11px; /*ERA: 12px */
  width:60px; /*ERA: 100px */
  height:21pX; /*ERA: 35px */
  line-height:normal /*CENTRALIZA VERTICALMENTE O TEXTO DO BOTÃO DO MENU INICIAL*/
  
}

main{
  display:block;
  text-align:center;
}

.logo-image{
  width:80%;
  height:auto;
  margin:0 auto;
  display:block;
  margin-top:30px
}

section{
  margin:24px; }

h1{
  font-size:60px;
  line-height:normal;
  margin-bottom:8px;
  margin-top:-1px;   /* sobe o WE CARE um pouco */
  
}

h2{
  font-size:30px;
  line-height:normal;
  margin-top:0;
}

 

p{
  width:auto;
  text-align:justify;
  font-size: 18px;
}

.button-main{
  margin:0 auto;
  display:block;
  font-size: 18px;
  width:150px;
  height:50px; /*ERA: 35px */
  
  
}


}